h1
{
	text-align: center;
	margin: top;
}

p.one
{
	text-align: center;
}

p.two
{
	text-align: right;
}

img.one
{
	height: 500px;
	width: 500px;
}

img.two
{
	float: right;
	height: 500px;
	width: 500px;
}

img.three
{
	display: block;
	width: 500px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}
p.three
{
	text-align: center;
}
ol
{
	list-style-type: lower-roman;
}
